{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<main class="content page" role="main">

    <article class="{{post_class}}">

        {{! Everything inside the #post tags pulls data from the post }}
        {{#post}}

        <div class="noarticleimage">
            <div class="post-meta">
                <h1 class="post-title">{{{title}}}</h1>
            </div>
        </div>

        <section class="post-content">
            <a name="topofpage"></a>
            {{content}}
        </section>

        {{/post}}

    </article>

</main>

<footer class="bottom-closer">
    <div class="inner">
        <a href="{{@blog.url}}" class="btn">Back to Overview</a>
    </div>
</footer>